body {
    font-family: 'Open Sans';
}
input[type="submit"] {
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover, .action-btn:hover {
    opacity: 0.85;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 8px;
}

a {
    color: #fff;
}

button {
    border: none;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    background: #3c40c6;
    color: #fff;    
}

.header a:hover > img {
    transition: transform 0.5s ease-in-out;
    transform: translateX(-10px);
}
.header a img {
    max-width: 45px;
    margin-right: 20px;
    align-self: center;
    transition: transform 0.5s ease-in-out;
}

body {
    margin: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}
.table {
    max-width: 100%;
    box-shadow: 0px 0px 5px 2px #c5c5c5;;
}

.table__header {
    background: #3c40c6 !important;
    color: #fff;
}

.table__row {
    padding: 1em 0;
    text-align: center;
    border-bottom: 1px solid #c3c3c3;
}

.table__row:nth-child(2n+1) {
    background: #d2dae2;
}

.table__row p, .table__row h3, .table__row h4 {
    margin: 0;
}

.action-btn, .add, .search, .modal-cancel-btn {
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
}


.update {
    background: #05c46b;
}

.remove, .modal-cancel-btn {
    background: #ff5e57;
    color: #fff;
}

.add, .search, .submit {
    background: #3c40c6;
    color: #fff;
}

.add {
    cursor: pointer;
    padding: 10px;
}

.search-box {
    font-size: 1.15em;
    padding: 5px;
}

.search__add__container {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-gap: 100px;
    align-items: center;
    margin-bottom: 0.5em;
}

.search__add__container form {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-gap: 20px;
}

.container__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1em 0;
}

.container__header h2 {
    text-align: center;
}

.container__header a {
    color: #000;
}



.errorMessage {
    background: tomato;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.errorMessage h3 {
    margin: 0;
}

.actions {
    display: flex;
    flex-wrap: wrap;
}

.action-btn {
    margin-right: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

/****************************
    MODAL
*****************************/

.modal-body--open {
    /* overflow: hidden; */
}

.modal-container {
    background: rgba(0,0,0,0.8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.modal-container__modal-form {
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 300px;
    padding: 1em;
    background: #fff;
    opacity: 0.5;
    transform: translateY(-10px);
    transition: all 0.3s;
}

.modal-container__modal-form label {
    font-size: 1.2em;
    color: #3c40c6;
    font-weight: bold;
}

.modal-container__modal-form input {
    outline: none;
    margin: 0;
    padding: .5em;
    margin-bottom: .5em;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.15em;
}

.modal-cancel-btn {
    width: 100%;
    font-size: 1.15em;
    padding: .5em;
}
.show-modal {
    transform: scale(1);
}

.show-modal__form {
    transform: translate(0px);
    opacity: 1;
}

/*****************
    PAGINATION
*******************/

.pagination {
    margin: 1em 0em 3em;
    text-align: center;
}

.pagination a {
    margin: 0 20px;
    color: #3c40c6; 
    display: inline-block;
    transition: all 0.2s;
}

.pagination a:nth-child(1):hover {
    transform: translateX(-10px);
}

.pagination a:nth-child(2):hover {
    transform: translateX(10px);
}


/******************
    LOGIN FORM
*******************/

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3c40c6;
}


.login__form {
    border: 1px solid #fff;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 300px;
    padding: 1em;
    background: #fff;
}

.login__form label {
    font-size: 1.2em;
    color: #3c40c6;
    font-weight: bold;
}

.login__form input {
    outline: none;
    margin: 0;
    padding: .5em;
    margin-bottom: .5em;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.15em;
} 

.login__form input[type="submit"] {
    background-color: #3c40c6;
    transition: all 0.2s;
}

.login__form input[type="submit"]:hover {
    transform: scale(1.02);
}

/***********************
    HOME / DASHBOARD
************************/

.home__dashboard {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    padding: 18px;
}

.home__dashboard__tile {
    padding: 1em;
    padding-left: 2em;
    box-shadow: 0 0px 6px -3px black;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background: #fff;
    color: #263238;
    text-decoration: none;
}


.home__dashboard__tile:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-out;
    cursor: pointer;
    background-color: #3c40c6;
    color: #fff;
}

.home__dashboard__tile img {
    width: 100%;
    max-width: 130px;
}

/***********************************
    BRAND / CATEGORY / PRODUCTS
**********************************/

.brand__row, .category__row, .product__row, .inventory__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.product__row {
    grid-template-columns: repeat(8, 1fr);
}

.inventory__row {
    grid-template-columns: repeat(5, 1fr);
}

/****
    SALES & INVENTORY
*****/

.tab-form {
    display: flex;
}

.tab-form a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 10px;
    color: #000;
    box-shadow: 0px -2px 8px -2px #000;
    text-decoration: none;
}

a.tab-selected {
    background: rgba(60,64,198);
    color: #fff;
}



/*****
    POINT OF SALE
*****/

.container__body {
    text-align: center;
}

.container__body input {
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px -2px #000;
}

.productsCart {
    padding: 1em;
    max-width: 1100px;
    margin: 0 auto 10px;
    max-height: 300px;
    box-shadow: 0px 0px 4px -2px #000;
    overflow: scroll;
    
}


.container__body input[type="submit"] {
    font-size: 2em;
    margin-top: 1.5em;
    background-color: #3c40c6
}


.cartRow {
    display: grid;
    grid-template-columns: 1fr 1fr 5px 1fr 5px 1fr 50px;
    margin-bottom: 1em;
    align-items: center;
}


.removeCartRow {
    background-color: tomato;
    color: #fff;
    border-radius: 5px;
}

.addCartRow {
    background-color: #3ae374;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    margin-bottom: 2.5em;
    padding: 5px;
}


.modal-invoice  {
    text-align: justify;
}

.modal-invoice form {
    max-width: 800px;
    overflow: scroll;
}

.modal-invoice h2, .modal-invoice h4  {
    text-align: center;
}

.modal-invoice label {
    text-align: center;
}

.modal-invoice p {
    margin: 0;
}

.invoice-products {
    border: 1px solid black;
    margin-bottom: 2em;
}

.invoice-products__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    text-align: center;
    align-items: center;
    padding: 5px;
}