
input[type="submit"] {
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.85;
}

a {
    color: #fff;
}

.header {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background: #673AB7;
    color: #fff;    
}

body {
    margin: 0;
}

/******************
    LOGIN FORM
*******************/

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.login__form {
    box-shadow: 0px 0px 5px 2px #c5c5c5;
    width: 100%;
    max-width: 300px;
    padding: 1em;
    background: #fff;
}

.login__form label {
    font-size: 1.2em;
    color: #673AB7;
}

.login__form input {
    outline: none;
    margin: 0;
    padding: .5em;
    margin-bottom: .5em;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
} 

.login__form input[type="submit"] {
    background-color: #673AB7;
}

/***********************
    HOME / DASHBOARD
************************/
.home {
    min-height: 95vh;
}

.home__dashboard {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 18px;
}

.home__dashboard__tile {
    padding: 1em;
    padding-left: 2em;
    box-shadow: 0px 0px 5px 2px #c5c5c5;
    display: grid;
    grid-template-columns: 150px 1fr;
    background: #fff;
    color: #263238;
    text-decoration: none;
}


.home__dashboard__tile:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-out;
    cursor: pointer;
    background-color: #673AB7;
    color: #fff;
}

.home__dashboard__tile img {
    width: 100%;
    max-width: 130px;
}

